<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BossTerminal.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=GREENMOON55-PC\SQLEXPRESS;Initial Catalog=lib;Persist Security Info=True;User ID=lib;Password=lib"
            providerName="System.Data.SqlClient" />
        <add name="BossTerminal.Properties.Settings.libConnectionString"
            connectionString="Data Source=GREENMOON55-PC\SQLEXPRESS;Initial Catalog=lib;Persist Security Info=True;User ID=lib;Password=lib"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>